<div class="container-fluid">

  <h3>Meine Studienplanung</h3>

  <!-- show a loading spinner when data is not ready yet -->
  <scale-loader :loading="!ready" color="#64788b"></scale-loader>

  <div v-show="ready">
    <!-- row for column headers and total/cumulated ects credits -->
    <div class="row">
      <div :class="colMdSizeCssClass">
        <h4>Modulangebot</h4>
        <span>Total ECTS: {{ totalEcts() }}</span>
      </div>

      <div v-for="semester in semesters" :class="colMdSizeCssClass">
        <h4>{{ semester.type.name }} {{ semester.year }}</h4>
        <span>ECTS: {{ calculateEcts(semester) }}</span>
      </div>
    </div>


    <!-- row for search input field (proposals) -->
    <div class="row">
      <div class="input-group input-group--displayblock" :class="colMdSizeCssClass">
        <input id="search-module" type="text" class="form-control" placeholder="Modulname" v-model="searches.module" />
      </div>
    </div>


    <div class="row">

      <!-- module proposals (stand-alone column) -->
      <div :class="colMdSizeCssClass">

        <ul class="list-group">
          <draggable :list="modules.proposals" :options="proposalConfig"
                     :data-module-type="types.PROPOSALS" :data-semester="0">
            <li v-for="item in filteredProposals" class="list-group-item" :data-module-id="item.id_of_the_module">
              <b>{{ item.code }}</b> ({{ item.ects }})<br/>
              <span>{{ item.name_de }}&nbsp;</span>
              <span class="glyphicon glyphicon-move dnd-handler float-right" aria-hidden="true" />
              <span class="clearfix"/>
            </li>
            <li v-show="modules.proposals.length < 1"
                class="list-group-item list-group-item--placeholder">Platzhalter
            </li>
          </draggable>
        </ul>
      </div>

      <!-- iterate over all semesters (6 or 9 columns) -->
      <div :class="colMdSizeCssClass" v-for="semester in semesters">

        <!-- Completed modules if the semester is in the past. NOTE: they are not draggable -->
        <div v-if="semester.label < getUpcomingSemesterLabel && filterModules('completions', semester).length > 0">
          <ul class="list-group">
            <li v-for="item in filterModules('completions', semester)"
                class="list-group-item list-group-item--completed">
              <b>{{ item.code }}</b> ({{ item.ects }})<br/>{{ item.title }}
            </li>
          </ul>
        </div>


        <!-- Booked modules for the upcoming semester (and the following-next semester if there are bookings ).
           NOTE: they are not draggable -->
        <div
            v-if="filterModules('bookings', semester).length > 0 &&
            (semester.label === getUpcomingSemesterLabel || semester.label === getAfterNextSemesterLabel)">

          <ul class="list-group">
            <li v-for="item in filterModules('bookings', semester)"
                class="list-group-item list-group-item--booked">
              <b>{{ item.executioncode }}</b> ({{ item.ects }})<br/>{{ item.title }}
            </li>
          </ul>
        </div>


        <!-- each semester in the future can be planned -->
        <div v-if="semester.label > getUpcomingSemesterLabel">

          <ul class="list-group">
            <draggable :list="modules.plannings" :options="planningConfig"
                       :data-module-type="types.PLANNINGS" :data-semester="semester.label">
              <li v-for="item in filterModules('plannings', semester)" :data-module-id="item.id_of_the_module"
                  class="list-group-item list-group-item--planned">
                <b>{{ item.code }}</b> ({{ item.ects }})<br/>
                <span>{{ item.name_de }}&nbsp;</span>
                <span class="glyphicon glyphicon-move dnd-handler float-right" aria-hidden="true" />
                <span class="clearfix"/>
              </li>
              <li v-show="filterModules('plannings', semester).length < 1"
                  class="list-group-item list-group-item--placeholder">Platzhalter
              </li>
            </draggable>
          </ul>
        </div>

      </div>
    </div>

  </div>
</div>
