<div class="container-fluid">
    <h3>Meine Studienplanung</h3>


    <div class="row">

        <!-- column headers -->
        <h5 :class="'col-md-' + cssColumnSize">Modulangebot</h5>
        <h5 v-for="nr in totalSemesters" :class="'col-md-' + cssColumnSize">{{ nr }}. Semester</h5>

        <!-- module proposals (stand-alone column) -->
        <div :class="'col-md-' + cssColumnSize">

            <ul class="list-group">
                <draggable  :list="modules.proposals" :options="proposalConfig"
                            :data-module-type="types.PROPOSALS" :data-semester="0">
                    <li v-for="item in modules.proposals" class="list-group-item" :data-module-id="item.id">
                        {{ item.id }} - {{ item.name }} <span class="glyphicon glyphicon-move dnd-handler" aria-hidden="true" />
                    </li>
                    <li v-show="modules.proposals.length < 1"
                        class="list-group-item list-group-item--placeholder">placeholder</li>
                </draggable>
            </ul>
        </div>

        <!-- iterate over all semesters (6 or 9 columns) -->
        <div :class="'col-md-' + cssColumnSize" v-for="semester in totalSemesters">

            <!-- Completed modules if the semester is in the past.
                    NOTE: they are not draggable -->
            <div v-if="semester < currentSemester && findBy(modules.completions, semester, 'semester')">
                <ul class="list-group">
                    <li v-for="item in findBy(modules.completions, semester, 'semester')" class="list-group-item list-group-item--completed">
                        {{ item.id }} ({{ item.ects }})<br/>{{ item.name }}
                    </li>
                </ul>
            </div>

            <!-- Booked modules for the current semester (and the following-next semester if there are bookings ).
                    NOTE: they are not draggable -->
            <div v-if="findBy(modules.bookings, semester, 'semester') && (semester === currentSemester || semester === (currentSemester + 1))">
                <ul class="list-group">
                    <li v-for="item in findBy(modules.bookings, semester, 'semester')" class="list-group-item list-group-item--booked">
                        {{ item.id }} ({{ item.ects }})<br/>{{ item.name }}
                    </li>
                </ul>
            </div>

            <!-- each semester in the future can be planned -->
            <div v-if="semester > currentSemester">
                <ul class="list-group">
                    <draggable  :list="modules.plannings" :options="planningConfig"
                                :data-module-type="types.PLANNINGS" :data-semester="semester">
                        <li v-for="item in findBy(modules.plannings, semester, 'semester')" :data-module-id="item.id"
                                class="list-group-item list-group-item--planned">
                            {{ item.id }} - {{ item.name }}&nbsp;
                            <span class="glyphicon glyphicon-move dnd-handler" aria-hidden="true" />
                        </li>
                        <li v-show="findBy(modules.plannings, semester, 'semester').length < 1"
                            class="list-group-item list-group-item--placeholder">placeholder</li>
                    </draggable>
                </ul>
            </div>

        </div>

    </div>


    <!-- for each column, show the summarized ects credits -->
    <div class="row">
        TODO: summierte ECTS-Punkte pro Column anzeigen.
    </div>

</div>
