<div>

  <!--
    Those are the available links that the vue-router knows.
    They get rendered at the top of each page.
  -->
  <nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
      <li><router-link to="/results">Meine Ergebnisse</router-link></li>
      <li><router-link to="/studyplan">Normstudienplan</router-link></li>
      <li><router-link to="/modules">Module auswählen</router-link></li>
      <li><router-link to="/planning">Studium planen</router-link></li>
      <li><router-link to="/timetable">Mein Stundenplan</router-link></li>
    </ul>
  </nav>
</div>