<div class="execution-tile" :class="cssClass">
  <h4>{{ execution.executioncode }} - {{ execution.course_name_de }}</h4>
  <p>
    <div>{{ execution.place }}</div>
    <div v-for="slot in execution.slots">
      {{ slot.day }}, {{ slot.start }} - {{ slot.end }}, {{ slot.room }}
    </div>
    <br />
    <div>Semester: {{ execution.semester.type.name }} {{ execution.semester.year }}</div>
  </p>

  <p v-if="addFn">
    <button v-on:click.keyup="addFn(execution)">buchen</button>
  </p>

  <p v-if="removeFn">
    <button v-on:click.keyup="removeFn(execution)">entfernen</button>
  </p>
</div>
