<div class="container-fluid">

  <!-- column with search filter and provided executions -->
  <div class="col-md-4" id="executions">
    <h3>Angebotene Durchführungen</h3>

    <!-- dropdown to filter for execution places -->
    <div>
      <label for="search-places" class="width-thirty">Ort:</label>
      <select id="search-places" class="selectpicker width-seventy" multiple v-model="searches.places.model">
        <option v-for="option in searches.places.options" :value="option.value">{{ option.name }}</option>
      </select>
    </div>

    <!-- dropdown to filter for module types -->
    <div>
      <label for="search-types" class="width-thirty">Typ:</label>
      <select id="search-types" class="selectpicker width-seventy" multiple v-model="searches.types.model">
        <option v-for="option in searches.types.options" :value="option.value">{{ option.name }}</option>
      </select>
    </div>

    <!-- dropdown to filter for module groups -->
    <div>
      <label for="search-groups" class="width-thirty">Gruppe:</label>
      <select id="search-groups" class="selectpicker width-seventy" multiple v-model="searches.groups.model">
        <option v-for="option in searches.groups.options" :value="option.value">{{ option.name }}</option>
      </select>
    </div>

    <!-- checkbox for NSP-Only -->
    <div>
      <label for="search-nsp">Nur Normstudienplan:</label>
      <input id="search-nsp" type="checkbox" v-model="searches.nspOnly">
    </div>

    <!-- input field for search functionality -->
    <div>
      <label for="search-module" class="width-thirty">Name:</label>
      <div class="input-group input-group--module width-seventy">
        <input id="search-module" type="text" class="form-control" placeholder="Nach Modulname suchen" v-model="searches.module" />
      </div>
    </div>


    <!-- list of provided executions -->
    <div v-for="execution in filteredExecutions">
      <execution-tile :execution="execution" cssClass="execution-tile--provided" :addFn="add"></execution-tile>
    </div>

    <div class="row" v-if="filteredExecutions.length === 0">
      <div class="alert alert-warning" role="alert">
        <b>Für die gewählten Filter existieren keine Moduldurchführungen.</b>
      </div>
    </div>
  </div>

  <!-- booked executions for next semester -->
  <div class="col-md-4" id="bookings-next">
    <h3>Semester: {{ formatSemester() }}</h3>

    <div v-for="execution in filteredBookings">
      <execution-tile :execution="execution" cssClass="execution-tile--booked" :removeFn="remove"></execution-tile>
    </div>
  </div>

  <!-- booked executions for semester after the next one -->
  <div class="col-md-4" id="bookings-after-next">
    <h3>Semester: {{ formatSemester(1) }}</h3>

    <div class="row" v-if="filteredBookingsAfterNext.length === 0">
      <div class="alert alert-info" role="alert"><b>Es sind noch keine Moduldurchführungen für dieses Semester bekannt.</b></div>
    </div>

    <div v-for="execution in filteredBookingsAfterNext">
      <execution-tile :execution="execution" cssClass="execution-tile--booked" :removeFn="remove"></execution-tile>
    </div>
  </div>

</div>
