
/* TODO: remove - use only to see that routing mechanism works */
.router-link-active {
    color: crimson !important;
    background-color: #ccc !important;
}

/* show the hand-icon when hovering that class (which is used for module drag-and-drop) */
.handle {
  cursor: move;
}

/* floating class with clear-fix afterwards */
.float-right {
  float: right;
}
.float-right:after {
  clear: both;
}

/* this class is used for modules on the 'planning' page.
 * because space is very rare, we have to break long wordings.
 */
.list-group-item {
  word-wrap: break-word;
}

/* stylings for the different types of modules */
.list-group-item--completed {
  background-color: lightgreen;
}
.list-group-item--booked {
  background-color: tan;
}
.list-group-item--planned {
  background-color: lightskyblue;
}
.list-group-item--placeholder {
  background-color: #f7f7f7;
}




/* additional column-size definitions for the existing grid system */
@media (min-width: 992px) {
  .col-md-7 {
    width: 14.2857%;
  }

  .col-md-10 {
    width: 10%;
  }

  .col-md-11 {
    width: 9.0909%;
  }
  .col-md-11-doubled {
    width: 18.1818%;
    float: left;
  }
}

/* give a row some more padding to look pretty nice */
.row [class^=col-] {
  padding: 10px 0 15px 5px;
}
